.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar a{
  color: #fff;
  transition: background 0.6s linear;
}
.sidebar a:hover{
  color: rgb(197, 196, 196);
}